<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

 	<!-- If you are using tomcat6/tomcat7 then uncomment this listener -->
 	<!--
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	--> 	
 	<!-- If you are using servlet 2.5 then uncomment this listener -->
 	<!--
	<listener>
		<listener-class>br.gov.frameworkdemoiselle.util.ServletListener</listener-class>
	</listener>
	<filter>
		<filter-name>Demoiselle Servlet Filter</filter-name>
		<filter-class>br.gov.frameworkdemoiselle.util.ServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Demoiselle Servlet Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
 	-->	
	
	<display-name>${artifactId}</display-name>
	<servlet>
		<servlet-name>Bookmark</servlet-name>
		<servlet-class>br.gov.frameworkdemoiselle.vaadin.servlet.VaadinApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
	    	<param-value>${package}.ui.BookmarkApplication</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bookmark</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>	
</web-app>